<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jpa="http://www.springframework.org/schema/data/jpa"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/data/jpa
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
	<bean id="Book" class="formationJEE.entities.Book" scope="prototype" />
	
	<bean id="EntityManagerFactory"  class="javax.persistence.Persistence" factory-method="createEntityManagerFactory" scope="singleton">
		<constructor-arg value="FormationJPA"/> <!-- JPA Persistence Unit -->
	</bean>
	
	<bean id="EntityManager" factory-bean="EntityManagerFactory" factory-method="createEntityManager" scope="singleton"/>
	
	<bean id="EntityManagerMock" class="org.easymock.EasyMock" factory-method="createMock">
		<constructor-arg value="javax.persistence.EntityManager" />
	</bean>
	
	<bean id="BookRepository" class="formationJEE.repositories.BookRepository" scope="prototype">
		 <property name="entityManager" ref="EntityManager"/> 
	</bean>
	
	<bean id="BookService" class="formationJEE.services.BookService" scope="prototype">
		<property name="repository" ref="BookRepository"/>
	</bean>
	
	<bean id="BookRepositoryMock" class="formationJEE.repositories.BookRepository" scope="prototype">
		 <property name="entityManager" ref="EntityManagerMock"/> 
	</bean>
	
	
	
	
	
</beans>